<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edit your profile.">
    <meta name="author" content="Brian Albin">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="css/commonstyles.css">
    <link rel="stylesheet" href="css/commonformstyles.css">
    <link rel="stylesheet" href="css/commonprofilestyles.css">
    <link rel="stylesheet" href="css/editprofilestyles.css">
</head>
<body>
    {{> header}}
    <main>
        <div class="form-container">
            <h1 class="form-header">Edit Profile</h1>
            <form>
                <fieldset>
                    <div class="legend-container">
                        <legend>Email & Password</legend>
                    </div>
                    <input type="email" name="email" placeholder="Email Address" required autofocus class="common-txt-input">
                    <input type="password" name="password" placeholder="Password" required class="common-txt-input">
                    <input type="password" name="passwordRepeat" placeholder="Confirm Password" required class="common-txt-input">
                </fieldset>
                <fieldset>
                    <div class="legend-container">
                        <legend>Name</legend>
                    </div>
                    <input type="text" name="firstName" placeholder="First Name" required class="common-txt-input">
                    <input type="text" name="lastName" placeholder="Last Name" required class="common-txt-input">
                </fieldset>
                <fieldset>
                    <div class="legend-container">
                        <legend>Address (Optional)</legend>
                    </div>
                    <input type="text" name="addressStreetNo" placeholder="Street Number" class="common-txt-input">
                    <input type="text" name="addressStreetName" placeholder="Street Name" class="common-txt-input">
                    <input type="text" name="addressCity" placeholder="City" class="common-txt-input">
                    <select name="addressState" class="common-select">
                        <!-- TODO: What about washington DC? -->
                        <option value="Alabama">Alabama</option>
                        <option value="Alaska">Alaska</option>
                        <option value="Arizona">Arizona</option>
                        <option value="Arkansas">Arkansas</option>
                        <option value="California">California</option>
                        <option value="Colorado">Colorado</option>
                        <option value="Connecticut">Connecticut</option>
                        <option value="Delaware">Delaware</option>
                        <option value="Florida">Florida</option>
                        <option value="Georgia">Georgia</option>
                        <option value="Hawaii">Hawaii</option>
                        <option value="Idaho">Idaho</option>
                        <option value="Illinois">Illinois</option>
                        <option value="Indiana">Indiana</option>
                        <option value="Iowa">Iowa</option>
                        <option value="Kansas">Kansas</option>
                        <option value="Kentucky">Kentucky</option>
                        <option value="Louisiana">Louisiana</option>
                        <option value="Maine">Maine</option>
                        <option value="Maryland">Maryland</option>
                        <option value="Masachusetts">Masachusetts</option>
                        <option value="Michigan">Michigan</option>
                        <option value="Minnesota">Minnesota</option>
                        <option value="Mississippi">Mississippi</option>
                        <option value="Missouri">Missouri</option>
                        <option value="Montana">Montana</option>
                        <option value="Nebraska">Nebraska</option>
                        <option value="Nevada">Nevada</option>
                        <option value="New Hampshire">New Hampshire</option>
                        <option value="New Jersey">New Jersey</option>
                        <option value="New Mexico">New Mexico</option>
                        <option value="New York">New York</option>
                        <option value="North Carolina">North Carolina</option>
                        <option value="North Dakota">North Dakota</option>
                        <option value="Ohio">Ohio</option>
                        <option value="Oklahoma">Oklahoma</option>
                        <option value="Oregon">Oregon</option>
                        <option value="Pennsylvania">Pennsylvania</option>
                        <option value="Rhode Island">Rhode Island</option>
                        <option value="South Carolina">South Carolina</option>
                        <option value="South Dakota">South Dakota</option>
                        <option value="Tennessee">Tennessee</option>
                        <option value="Texas">Texas</option>
                        <option value="Utah">Utah</option>
                        <option value="Vermont">Vermont</option>
                        <option value="Virginia" selected>Virginia</option>
                        <option value="Washington">Washington</option>
                        <option value="West Virginia">West Virginia</option>
                        <option value="Wisconsin">Wisconsin</option>
                        <option value="Wyoming">Wyoming</option>
                    </select>
                    <input type="text" name="addressZip" placeholder="Zip Code" class="common-txt-input">
                </fieldset>
                <button class="std-btn submit-btn">Save Changes</button>
            </form>
        </div> <!-- form-container -->
    </main>
    <script src="js/libs/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/libs/knockout-3.2.0.js"></script>
    <script src="js/commonscript.js"></script>
</body>
</html>