<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">                        <!-- TODO: FIGURE OUT WHAT CONTENT SHOULD BE -->
    <meta name="author" content="Brian Albin">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="css/commonstyles.css">
    <link rel="stylesheet" href="css/commonformstyles.css">
    <link rel="stylesheet" href="css/commonprofilestyles.css">
    <link rel="stylesheet" href="css/forgotpasswordstyles.css">
</head>
<body>
    {{> header}}
    <main>
        <div class="form-container">
            <h1 class="form-header">Forgot Password</h1>
            <p class="form-info">Your password will be mailed to brianalbin3@gmail.com after you complete the following security question.</p>
            <form>
                <fieldset>
                    <div class="legend-container">
                        <legend>What Is Your First Name?</legend>
                    </div>
                    <input type="text" name="firstName" placeholder="First Name" required autofocus class="common-txt-input">
                </fieldset>
                <button class="std-btn submit-btn">Email My Password</button>
            </form>
        </div> <!-- form-container -->
    </main>
    <script src="js/libs/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/libs/knockout-3.2.0.js"></script>
    <script src="js/commonscript.js"></script>
</body>
</html>