<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sign in to your account.">
    <meta name="author" content="Brian Albin">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="css/commonstyles.css">
    <link rel="stylesheet" href="css/commonformstyles.css">
    <link rel="stylesheet" href="css/commonprofilestyles.css">
    <link rel="stylesheet" href="css/signinstyles.css">
</head>
<body>
    {{> header}}
    <main>
        <div class="form-container">
            <h1 class="form-header">Sign In</h1>
            <form>
                <fieldset>
                    <div class="legend-container">
                        <legend>Email & Password</legend>
                    </div>
                    <input type="email" name="email" placeholder="Email Address" required autofocus class="common-txt-input">
                    <input type="password" name="password" placeholder="Password" required class="common-txt-input">
                </fieldset>
                <button class="std-btn submit-btn">Next</button>
                <div class="forgot"><a href="/forgotpassword">Forgot Password?</a></div>
                <div class="forgot"><a href="/signup">Don't have an account? Create One!</a></div>
            </form>
        </div> <!-- form-container -->
    </main>
    <script src="js/libs/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/libs/knockout-3.2.0.js"></script>
    <script src="js/commonscript.js"></script>
</body>
</html>